// Add more width to any button with a spinner
.btn-spinner {
  width: 6rem;
}

.text-primary {
  color: $primaryColor;
}

.text-danger {
  color: $dangerColor;
}

.text-success {
  color: $successColor;
}

.text-grey {
  color: #8a8a8a;
}

.text-dark {
  color: #444;
}

.edit-note {
  padding: 0.75rem 0rem;
  border: 1px solid $primaryColor;
  border-right: none;
  border-left: none;
}
