@import "./formElement";

.main {
  padding: 2rem;

  @media screen and (min-width: 768px) {
    & {
      height: 100%;
      width: 40%;
      margin: auto;
    }
  }
}

.notFound {
  line-height: 1.5;
  a {
    @extend .btnElement;
    display: inline-block;
    margin-top: 0;
  }
}

.panel {
  line-height: 1.5;

  & * {
    margin: 0;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h5 {
    color: #333;
  }

  p {
    margin: 0.15rem 0 1rem;
  }
}

.feedback {
  margin-top: 2rem;

  button {
    @extend .btnElement;
    display: inline-block;
    margin: 0 0.35rem;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.deleteModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  & * {
    margin: 0 auto;
    padding: 1rem;
    background: #eee;
    width: 80%;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 30%;
    }
  }
}

.footer {
  margin-top: 4rem;
  text-align: center;
}
