@import "var";
@import "btn";

.label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  user-select: none;
}

.display-action-body {
  text-align: center;

  button {
    display: none;
    margin: 1rem;
    animation: fade 0.2s linear;

    &.show-btn {
      display: inline;
    }
  }
}

.note-title-panel,
.note-body-panel {
  transition: all 0.2s linear;
}

.note-title-panel {
}

.note-body-panel {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 1rem;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
