@import "var";
@import "btn";

label {
  display: block;
}

.form-entry {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0.5rem;
}

textarea {
  height: 7rem;
  resize: none;
}

[type="submit"].btn {
  display: block;
  margin: 2rem auto;
}

// FORM BODY
.form-body {
  text-align: left;
  padding: 1rem;
  padding-top: 1.5rem;

  aside {
    display: none;
    animation: fade 0.5s linear;

    &.active-form {
      display: block;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
